@font-face{
    font-family: 'Roboto';
    src: url('Roboto/Roboto-Thin.eot');
    src: url('Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('Roboto/Roboto-Thin.woff') format('woff'),
         url('Roboto/Roboto-Thin.ttf') format('truetype'),
         url('Roboto/Roboto-Thin.svg#Roboto') format('svg');
    font-weight: normal;
    font-style: normal;
}

.zone-citation {
	min-height: 1px;
}

.citation {
	font-family: "Roboto";
	font-size: 1.4em;
	color: rgb (27, 60, 87);
	font-style: italic;
	padding: 2% 2% 2% 2%;
}

.auteur {
	font-family: "Roboto";
	font-size: 1.2em;
	text-align: left;
	padding: 2% 2% 2% 55%;
}

#mainText {
 	top: 150px;
	width:50%; 
	min-width:500px; 
	margin:50px auto;
}
		
word{ 
	display:inline-block; 
}
		

letter{ 
	display:inline-block; 
	white-space:pre; 
	background:none; 
	transition:0.5s; 
}

letter.initial{ 
	opacity:0; 
	text-shadow:0 0 9px; 
	color:#FFF; 
	-webkit-transform:scale(8); 
	-webkit-transform-origin:150% 50%; 
	transform:scale(2); 
	transform-origin:150% 50%; 
}