<div class="zone-citation">
	<div id='mainText'>
	
		<div class="citation"><%= @citation.citation %></div>
		<div class="auteur"><%= @citation.auteur %></div>
	</div>
	<META HTTP-EQUIV="Refresh" CONTENT="15">
	<script src="letterer.js"></script>
	<script src="letters_container.js"></script>
</div>